/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
    --accent: #c85151;
    --bg: #f8eedb;
    --primary: #2a363d;
    --secondary: #96809c;
    --blockquote-bg: #b8b4bd;
    --blockquote-text: #5c4162;
}

body {
    color: var(--primary);
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--bg);
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 1.7;
}

main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
}
h1 {
    font-size: 3.052em;
}
h2 {
    font-size: 2.441em;
}
h3 {
    font-size: 1.953em;
}
h4 {
    font-size: 1.563em;
}
h5 {
    font-size: 1.25em;
}
strong,
b {
    font-weight: 700;
}
a {
    color: var(--accent);
}
a:hover {
    color: var(--accent);
}

.prose > p:first-of-type::first-letter {
    font-family: "Tinos", serif;
    font-style: normal;
    font-size: 5rem;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 0.1em;

    color: #c85151;
}

p.lede {
    color: var(--secondary);
    text-align: center;
    margin-block: 0;
}

p {
    text-align: justify;
    margin-bottom: 1em;
}
.prose p {
    margin-bottom: 2em;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid var(--blockquote-text);
    color: var(--blockquote-text);
    padding: 0 10px 0 20px;
    margin: 0;
    font-size: 1.333em;
    background-color: var(--blockquote-bg);
}
a,
p {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

sup > a {
    color: var(--blockquote-text);
}
hr {
    border: none;
    border-top: 1px solid var(--primary);
}
@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
    main {
        padding: 1em;
    }
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}

.container > p > img {
    width: 300px;
    border-radius: 0;
}

p:has(img) {
    display: flex;
    justify-items: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}
