---
import AboutHeroImage from "../assets/thumbnail-2.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Read about the thoughts of an ESL (me)"
    pubDate={new Date("Febuary 16 2026")}
    heroImage={AboutHeroImage}
>
    <p>
        Hello, My name is Lue and this my Space! Here is where I post all my art
        and talk about tech, literature, my own values as well as rants. This is
        mostly a way for me to share what I've gathered through out my life
        because I truly believe anything beautiful you saw or experience is
        worth the share so that others can be inspired to create. If you are
        reading my posts and look at my gallery; I thank you for stopping by and
        I hope it left you with intentions of creation.
    </p>

    <h2>Hobbies</h2>
    <p>
        Without hobbies I'd probably killed myself a long time ago, said hobbies
        are:
    </p>
    <ul>
        <li>Programing</li>
        <li>Exercise</li>
        <li>Gaming</li>
        <li>Reading</li>
        <li>Drawing</li>
    </ul>
    <p>
        Pretty hard to juggle the five of these whilst finding employment. Oh I
        forgot to tell you I'm unemployed the only reason I had the time to
        write this blog.
    </p>

    <h2>Personality</h2>
    <p>
        I'm quite the curious fellow, it's a double-edged sword to be honest; I
        get to be super focused on a topic just to know that it wasn't what I
        was finding, wasting dozens of hours OR rewarded for knowing how a thing
        works and acts but still waste dozens of hours. I just can't help it to
        entertain my curiosity, I get concious If I don't.
    </p>

    <p>
        I'm also quite a chill and layback guy (unless I'm ranting in a blog).
        I've learned it the hardway to just go with the flow than fight againts
        the current (yeah I google searched about absurdism and it changed my
        life). It helps to just let all the emotions and thoughts go pass you
        before you do something you'll regret.
    </p>

    <p>
        I'm pretty much a mediocre person in general. My art kinda needs
        improvement as well as programming and anything in life. I think I just
        need to fail more to learn how to be mega good. And I'm tired of being
        mediocre all of my life, so I'm starting by failing alot and learning.
    </p>
    <h2>Closing Remarks</h2>
    <p>
        Thanks for reading all of that crap that my chud brain just generated.
        I'm still new to typing shit that comes from my head and my frontal lobe
        can only know so much words. I appreciate reading my stuff and I think
        you're pretty cool
    </p>

    <h4>Want to talk to me or leave a comment about a subject?</h4>
    <p>
        Email me at this address to harass me with any of your inquires!
        Hopefully I would respond.
    </p>
    <address>
        <a href="mailto:luekely43110@gmail.com">luekely43110@gmail.com</a>
    </address>
</Layout>
<style>
    p:has(+ address) {
        margin-bottom: 0em;
    }
    address {
        margin-bottom: 1em;
    }
</style>
