---
import HeaderLink from "./HeaderLink.astro";
const today = new Date();
---

<footer>
    <p>
        &copy; {today.getFullYear()} Lue's Space. All rights reserved.
    </p>
    <HeaderLink href="/lue-s-space/rss.xml">RSS</HeaderLink>
</footer>
<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2em 1em 2em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
