---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
    <nav>
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/gallery">Gallery</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    h2,
    h2::before,
    h2::after,
    a {
        font-family: "Pirata One", system-ui;
        font-size: 1.5em;
    }
    h2 {
        color: var(--primary);
        margin: 0;
        text-shadow:
            -1px 1px 0 var(--bg),
            1px -1px 0 var(--bg),
            -1px -1px 0 var(--bg),
            1px 1px 0 var(--bg),
            0px 4px 0 var(--primary);
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    header {
        background: var(--bg);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        color: var(--primary);
        margin: 0;
        text-shadow:
            -1px 1px 0 var(--bg),
            1px -1px 0 var(--bg),
            -1px -1px 0 var(--bg),
            1px 1px 0 var(--bg),
            0px 4px 0 var(--primary);
        border-bottom-color: var(--accent);
        position: relative;
        z-index: 1;
    }

    nav a.active::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        content: "";
        width: 100px;
        height: 40px;
        background-color: var(--primary);
        animation: move 1s steps(2, jump-both) infinite alternate;
    }
    @keyframes move {
        from {
            transform: translate(-50%, -50%) rotateZ(10deg) skewX(-30deg);
        }
        to {
            transform: translate(-50%, -50%) rotateZ(-10deg) skewX(25deg);
        }
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
