---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header id="title">
    <nav>
        <h2><a href="/lue-s-space">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/lue-s-space/blog">Blog</HeaderLink>
            <HeaderLink href="/lue-s-space/gallery">Gallery</HeaderLink>
            <HeaderLink href="/lue-s-space/about">About</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    h2,
    h2::before,
    h2::after,
    a {
        font-family: "Pirata One", system-ui;
        font-size: 1.5em;
    }
    h2 {
        color: var(--primary);
        margin: 0;
        text-shadow:
            -1px 1px 0 var(--bg),
            1px -1px 0 var(--bg),
            -1px -1px 0 var(--bg),
            1px 1px 0 var(--bg),
            0px 4px 0 var(--primary);
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    header {
        padding: 0.5em;
        background: var(--bg);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 0em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        color: var(--bg);
        margin: 0;
        text-shadow:
            -1px 1px 0 var(--primary),
            1px -1px 0 var(--primary),
            -1px -1px 0 var(--primary),
            1px 1px 0 var(--primary),
            0px 3px 0 var(--bg);
        position: relative;
        z-index: 1;
    }

    nav a.active::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        content: "";
        width: 100px;
        height: 55px;
        background-color: var(--primary);
        animation: move 1s steps(3, jump-both) infinite alternate;
        clip-path: polygon(100% 0%, 95% 95%, 0% 75%, 0% 17%);
    }
    @keyframes move {
        from {
            transform: translate(-50%, -50%) rotateZ(-10deg);
            clip-path: polygon(100% 0%, 95% 95%, 0% 75%, 0% 17%);
        }
        to {
            transform: translate(-50%, -50%) rotateZ(10deg);
            clip-path: polygon(100% 29%, 100% 72%, 0% 86%, 0% 17%);
        }
    }
    @media (max-width: 720px) {
        .internal-links a,
        h2 {
            font-size: 1em;
        }
        nav a.active::before {
            width: 65px;
            height: 40px;
        }
        h2 {
            text-shadow:
                -1px 1px 0 var(--bg),
                1px -1px 0 var(--bg),
                -1px -1px 0 var(--bg),
                1px 1px 0 var(--bg),
                0px 2px 0 var(--primary);
        }
        nav a.active {
            text-shadow:
                -1px 1px 0 var(--primary),
                1px -1px 0 var(--primary),
                -1px -1px 0 var(--primary),
                1px 1px 0 var(--primary),
                0px 2px 0 var(--bg);
        }
    }
</style>
