---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"gallery">["data"];

const { year } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead
            title={year + " Illustrations"}
            description={"What I've Drawn in the year " + year}
        />
        <style>
            main {
                width: calc(100% - 2em);
                max-width: 100%;
                margin: 0;
                min-height: 500px;
            }

            .prose {
                width: 1000px;
                max-width: calc(100% - 2em);
                margin: auto;
                padding: 1em;
            }
            .title {
                margin-bottom: 1em;
                padding: 1em 0;
                text-align: center;
                line-height: 1;
            }
            .title h1 {
                margin: 0 0 0.2em 0;
            }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <article>
                <div class="prose">
                    <a href="/gallery"> Back to Gallery</a>
                    <div class="title">
                        <h1>{year}</h1>
                        <hr />
                    </div>
                    <div class="container">
                        <slot />
                    </div>
                    <a href="#title"> Back to top</a>
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
